/* Trimmed down version of the Inkscape main website's CSS.
 *
 * License: AGPLv3 or later (http://www.gnu.org/licenses/)
 *
 * Copyright © 2010 Chris Morgan
 * Copyright © 2012 Martin Owens
 * Copyright © 2019 Bryce Harrington
 */

/* TODO
 * ----
 *  + Test for use with Board documentation
 *  + Test for use in alpha's IRC logs
 *  + Go through and SCSSify more colors & etc.
 *  + Cleanup IRC styles
 *  + Put into VCS (maybe a new git repo under Infra??)
 *  + Integrate into 
 */

$static_url: "https://media.inkscape.org/static";

/* Fonts */
@import url(#{$static_url}/css/ubuntu.css);
@import url(#{$static_url}/css/libertine.css);

@font-face {
  font-family: 'EuphoriaScript';
  src: url(#{$static_url}/fonts/euphoriascript-regular.ttf) format('truetype');
}

@font-face {
  font-family:'FontAwesome';
  src:url(#{$static_url}/fonts/fontawesome-webfont.woff2?v=4.5.0) format('woff2'),
    url(#{$static_url}/fonts/fontawesome-webfont.ttf?v=4.5.0) format('truetype');
  font-weight:normal;
  font-style:normal
}


/* Generic content styles */
body {
  max-width: 960px;
  margin: 0 auto !important;
  background-color: white;
  background-image: linear-gradient(to bottom, #e6e6e6 0%, #e6e6e6 10px, #ffffff 75px);
  background-repeat: no-repeat;
  font-size: 11pt;
  font-family: 'Ubuntu', 'Liberation Sans', sans-serif;
  color: #333333;
}

p {
  margin: 0.8em 0;
  hyphens: auto;
}

ul,
ol {
  padding: 0 0 0 30px;
  margin: 0.5ex 0;
}

ul.ticks li {
  list-style: none;
  background: left center url(#{$static_url}/images/bullet-tick.png) no-repeat;
  background-image: url(#{$static_url}/images/bullet-tick.svg);
  margin-left: -22px;
  padding: 2px 0 2px 22px;
}

hr {
  margin: 30px 0;
  color: #d2d2d2;
  background-color: #d2d2d2;
  border: 0;
  height: 1px;
}

pre {
  background-color: #f5f5f5;
  padding: 0.5ex 0.5em;
  margin: 0.5ex 0;
  overflow: auto;
  hyphens: none;
}

code {
  hyphens: none;
}

/* Links */
:link,
:visited {
  text-decoration: none;
  color: #d55500;
}
:link:hover,
:link:active,
:visited:hover,
:visited:active {
  text-decoration: underline;
}
a img {
  border: 0px; /* For IE */
}

/* Headings */
h1 {
  font-family: LinuxLibertineORegular, "Trebuchet MS", Ubuntu, "Liberation Sans", FreeSans, sans-serif;
  font-size: 240%;
  line-height: 35px;
  font-weight: normal;
  margin: 0.5ex 0 0.5ex;
}
h2 {
  color: black;
  font-size: 1.4em;
  font-weight: normal;
  margin: 1.5ex 0 0.5ex;
  border-bottom: 1px solid #ddd;
}
h3 {
  color: black;
  font-size: 1.15em;
  font-weight: normal;
  margin: 1.5ex 0 0.5ex;
}
h4 {
  color: black;
  font-weight: bold;
  font-size: 1em;
  margin: 1.5ex 0 0.5ex;
}

/* Tables */
th[scope="row"] { text-align: right; }
th[scope="col"] { text-align: center; }


/* Breadcrumbs */
#bread .breadcrumbs {
  color: #999;
  background-color: #1a1a1a;
  padding: 5px 16px;
}
#bread .breadcrumbs a {
  color: white;
}

/* Final footer */
#final-footer {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
#final-footer :link,
#final-footer a,
#final-footer :link:visited,
#final-footer :link:active,
#final-footer span {
  color: #aaa;
  display: inline-block;
  padding: 6px;
  margin: 2px 6px;
  white-space: nowrap;
}
#final-footer :link:hover,
#final-footer a:hover {
  color: #ff7e28;
  text-decoration: none;
}
p#final-footer {
  position: absolute;
  left: 3px;
  top: -14px;
  margin: 0;
  padding: 0;
  transition: opacity 0.2s ease;
  opacity: 0.05;
}
p#final-footer {
  transition: opacity 1.5s ease;
  opacity: 1;
}

/* IRC Logs */
table.irclog {
    width: 100%;
}
th.nick {
    color: #ffffff;
    padding: 1px 2px;
    font-family: sans;
}
td.text {
    width: 100%;
    background: #fafafa;
    font-family: sans;
}
td.action {
    background: #fafafa;
    font-family: sans;
}

/* FIXME: Limit to only affect irc log pages */
li {
    font-family: ubuntu;
    list-style-type: square;
    color: darkblue;
}

.navigation {
    margin: 1em 0em;
}
.navigation a, .navigation span {
    margin-right: 1em;
}

a.time, a.time:visited {
    white-space: nowrap;
    text-decoration: none;
    color: #007020;
}
a.time:active, a.time:hover {
    text-decoration: none;
    color: #9999dd;
}
a.time:before { content: ""; }
a.time:after { content: ""; }

.nick {
    font-weight: bold;
    font-size: smaller;
    text-align: right;
}
.nick:before {content: "<"; }
.nick:after {content: ">"; }

.part { color: #000099; }
.join { color: #009900; }
.servermsg { color: #009900; }
.nickchange { color: #009900; }
.action { color: #009000; }
.other { color: #888888; }

/* Make boring messages small */
.part, .join, .servermsg, .nickchange, .other { font-size: smaller; }
td.part + td, td.join + td, td.servermsg + td, td.nickchange + td,
td.other + td { font-size: smaller; text-align: right; }


/* Generated By (for IRC logs) */
div.generatedby {
    margin-top: 1em;
    font-size: small;
    color: #888888;
}
div.generatedby a:link {
    color: #8888cc;
    text-decoration: none;
    border-bottom: 1px dotted #8888cc;
}
div.generatedby a:visited {
    color: #cc88cc;
    text-decoration: none;
    border-bottom: 1px dotted #cc88cc;
}
div.generatedby a:active,
div.generatedby a:hover {
    color: #ff8888;
    text-decoration: none;
    border-bottom: 1px dotted #ff8888;
}

/* Search Box */

div.searchbox {
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
}

div.searchbox input#searchtext {
    border: 1px solid gray;
    padding: 2px 4px;
}
div.searchbox input#searchtext:hover {
    border: 1px solid #869abf;
}
div.searchbox input#searchbutton {
    color: gray;
    background: white;
    border: 1px solid gray;
    font-weight: bold;
    padding: 1px 4px 2px 4px;
    margin-left: 0.3ex;
}
div.searchbox input#searchbutton:hover {
    color: #134D73;
    border: 1px solid #869abf;
}

/* Search results */

ul.searchresults table {
    margin: 0.5ex 0 1ex 0.5ex;
}
